

<div class="row" style="padding-top: 150px">
    <div class="col-sm-6 col-sm-offset-3 jumbotron">
        <h1 class="lead text-center">SailsCall</h1>
        <h2 class="lead text-center"><small>A Realtime Chat Client with <strong>SailsJS</strong></small></h2>
        <form action="/redirect" method="POST">
            <input type="text" name="slug" class="form-control input-lg" placeholder='Enter "chat-room-slug"...'/>
            <input type="submit" class="sr-only">
        </form>
    </div>
</div>